*{
    margin:2px;
    padding:2px;
}

 /* css for table container */

.container {
    width: 100%;
    text-align: center;
  }

/* css for search bar*/

.searchbar input {
  width:100%;
 justify-content: center;
}


/* css for table  */

  .table {
    border-collapse: collapse;
    width: 100%;
    /* box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.26); */
    
  }
  .table tr:hover {
    background-color: lightgray;
  }

  th{
    background-color: rgb(81, 79, 79);
    color:white;
  }
tr, th,td
  {
    /* width: 28%; */
    border-bottom: 1px solid black;
    text-align: left;
  }

  /* css for pagination container */

  .pagination {
    width: 100%;
    justify-content: center;
    display: flex;
    text-decoration: none;
    list-style: none;
    margin: auto;
  }
  
  /* css for delete all button */

  .btn button{
    float: left;
    margin-right:4px;
    background-color: red;
    color:white;
  }
  
  